/* ------------------------------ General ------------------------------ */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #7B1FA2;
    background-color: #FFFFFF;
    background-size: 100%;
}

.button-item {
    padding: 8px;
    cursor: pointer;
    border-style: solid;
    border-width: 2px;
    border-color: #7B1FA2;
    border-radius: 5px;
}

/* ------------------------------ Header ------------------------------ */

.nav-list {
    margin: 0;
    padding: 2.5vh;
    list-style-type: none;
}

.nav-list-item {
    display: inline-block;
    margin-right: 20px;
}

.nav-list-item-selected {
    display: inline-block;
    margin-right: 20px;
    font-weight: bold;
    color: #7B1FA2;
}

.nav-list-item-selected a {
    text-decoration: none;
}

.nav-list-item a {
    text-decoration: none;
    color: #7B1FA2;
}

.logo {
    font-size: 32px;
    font-weight: bold;
    font-family: cursive, Arial, Helvetica, sans-serif;
    position: relative;
    top: 4px;
}

/* ------------------------------ Footer ------------------------------ */

.footer {
    margin: 0;
    padding: 1vh;
    background: #9C27B0;
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

/* ------------------------------ Home ------------------------------ */

.home-body {
    background-image: url("../images/pregnant.jpg");
}

.center-content {
    width: 75%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
}

.text-section {
    margin-bottom: 5%;
}

.main-heading {
    text-align: center;
    font-size: 40px;
}

.description {
    text-align: center;
}

.triple-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.main-division {
    padding: 20px;
    margin: auto;
    height: 100px;
    width: 25%;
    text-align: left;
    background-color: #9C27B0;
    text-decoration: none;
    color: white;
    border-radius: 25px;
    box-shadow: gray 5px 5px 10px;
}

/* ------------------------------ Calendar ------------------------------ */
.calendar {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 75vh;
    background: white;
}

#calendar {
    max-width: 900px;
    margin: 0 auto;
}

#addEvent {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 30vw;
    background-color: white;
    box-shadow: darkgray 5px 5px 10px;
}

.event-heading {
    position: relative;
    top: -16px;
    background-color: #7B1FA2;
    color: white;
    padding: 16px;
}

#patientSelect {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    color: #7B1FA2;
    border: 1px solid #9C27B0;
    font-size: 16px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 2px;
    width: 172px;
}

.input {
    position: absolute;
    left: 16px;
    top: 48px;
    padding-right: 16px;
}

.event-input {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    color: #7B1FA2;
    width: 28vw;
    border: none;
    border-bottom: 1px solid #9C27B0;
    font-size: 16px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 2px;
}

.time-input-container {
    display: inline;
}

#date {
    font-family: Arial, Helvetica, sans-serif;
    color: #7B1FA2;
    font-size: 16px;
    border: 1px solid #9C27B0;
    padding: 2px;
    margin-bottom: 2px;
    width: 172px;
}

#startTime {
    font-family: Arial, Helvetica, sans-serif;
    color: #7B1FA2;
    font-size: 16px;
    border: 1px solid #9C27B0;
    padding: 2px;
    margin-bottom: 2px;
}

#endTime {
    font-family: Arial, Helvetica, sans-serif;
    color: #7B1FA2;
    font-size: 16px;
    border: 1px solid #9C27B0;
    padding: 2px;
    margin-bottom: 2px;
}

.buttons {
    position: absolute;
    right: 16px;
    bottom: 16px;
}

#cancel {
    background-color: white;
    border: none;
    color: #7B1FA2;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

#save {
    background-color: #7B1FA2;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: darkgray 5px 5px 10px;
    cursor: pointer;
}

/* ------------------------------ Patients ------------------------------ */
#patients {
    position: fixed;
    bottom: 10vh;
    right: 0;
    width: 100vw;
    height: 77vh;
    overflow-y: auto;
}

.patient-container {
    display: inline-block;
    width: 10%;
    cursor: pointer;
    margin: 16px;
}

.patient-container .dp {
    display: block;
    margin: auto;
    margin-bottom: 16px;
}

.patient-container .name {
    text-align: center;
}

/* ------------------------------ Patient Data ------------------------------ */

.side-navigation {
    padding: 16px;
    display: inline-block;
    background: #9C27B0;
    height: 80vh;
    color: white;
}

.patient-name {
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 12px;
}

#patientName {
    margin-top: 0;
    padding-top: 0;
}

/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 19px;
    width: 19px;
    background-color: white;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input~.checkmark {
    background-color: #E1BEE7;
}

/* When the radio button is checked, add a blue background */
.container input:checked~.checkmark {
    background-color: white;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked~.checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
    top: 6px;
    left: 6px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #9C27B0;
}

/* ------------------------------ Messenger ------------------------------ */
#messages-card-container {
    width: 70vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 16px;
    height: 70vh;
    background-color: white;
    box-shadow: darkgray 5px 5px 10px;
}

#messages {
    height: 60vh;
    overflow-y: auto;
}

.message-container {
    border-bottom: 1px dotted #E1BEE7;
}

.message-container .spacing {
    display: table-cell;
    vertical-align: top;
}

.message-container .message {
    display: table-cell;
    width: calc(100% - 40px);
    padding: 5px 0px 5px 8px;
}

.message-container .name {
    display: inline-block;
    width: 100%;
    padding-left: 8px;
    color: #212121;
    font-style: italic;
    font-size: 12px;
    box-sizing: border-box;
}

#message-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#messageInput {
    width: 58vw;
    padding: 16px 16px;
    margin-right: 10px;
    margin-top: 8px;
    border: none;
    border-bottom: 2px solid #7B1FA2;
    color: #212121;
}

#messageInput:focus {
    outline: none;
}

#submit {
    background-color: #7B1FA2;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 16px 32px;
    margin-top: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: darkgray 5px 5px 10px;
    cursor: pointer;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden;
    /* Hidden by default. Visible on click */
    min-width: 250px;
    /* Set a default minimum width */
    margin-left: -125px;
    /* Divide value of min-width by 2 */
    background-color: #333;
    /* Black background color */
    color: #fff;
    /* White text color */
    text-align: center;
    /* Centered text */
    border-radius: 2px;
    /* Rounded borders */
    padding: 16px;
    /* Padding */
    position: fixed;
    /* Sit on top of the screen */
    z-index: 1;
    /* Add a z-index if needed */
    left: 50%;
    /* Center the snackbar */
    bottom: 100px;
    /* px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible;
    /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 100px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 100px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 100px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 100px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

/* ------------------------------ Details ------------------------------ */

.details {
    position: fixed;
    bottom: 10vh;
    right: 42.5vw;
    width: 42.5vw;
    height: 77vh;
}

.details-right {
    position: fixed;
    bottom: 10vh;
    right: 0;
    width: 42.5vw;
    height: 77vh;
}

.detail-heading {
    display: inline-block;
    width: 200px;
    padding-top: 8px;
    padding-bottom: 2px;
    font-weight: bold;
    font-size: 16px;
}

.detail-input {
    display: block;
    font-size: 16px;
}

.number-input {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    color: #7B1FA2;
    width: 10vw;
    font-size: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.single-input {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    color: #7B1FA2;
    width: 21vw;
    font-size: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.save-button {
    display: inline-block;
    margin-top: 8px;
    padding: 7px;
    width: 100px;
    cursor: pointer;
    border-style: solid;
    border-width: 2px;
    border-color: #7B1FA2;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: #7B1FA2;
    background: white;
    font-size: 16px;
}

/* ------------------------------ History ------------------------------ */

.history {
    position: fixed;
    bottom: 10vh;
    right: 0;
    width: 85vw;
    height: 77vh;
    overflow-y: auto;
}

/* ------------------------------ Dashboard ------------------------------ */
.dashboard {
    position: fixed;
    bottom: 10vh;
    right: 0;
    width: 85vw;
    height: 77vh;
    overflow-y: auto;
}

.dashboard-sticker {
    display: inline-block;
    width: 80vw;
    padding: 5px;
    border-bottom: 2px dotted #E1BEE7;
}

.chart {
    display: inline-block;
    width: 70vw;
    height: 40vh;
}

.stats {
    display: inline-block;
}

.stats div {
    height: 10vh;
    width: 10vh;
    padding: 5px;
    margin-bottom: 20px;
    align-content: center;
    text-align: center;
    background-color: #9C27B0;
    color: white;
    border-radius: 10vh;
}

.stat-heading {
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 14px;
}

.stat-val {
    margin-top: 0;
    padding-top: 0;
    font-size: 12px;
}

.filters-text {
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 12px;
    color: black;
}